<!-- login.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axillon - Sign In</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="userPages/emailVerification.css">
</head>

<body>
    <img src="/images/axillon white cropped.png" alt="Axillon Logo" class="logo">
    <div class="login-container">
        <div class="welcome-text">
            <h1>Welcome to <span>AXILLON</span></h1>
            <h2>New Password</h2>
        </div>
        <form action="/postNewPassword" method="POST" id="email-form">
            <div class="input-group">
                <label for="text">Enter your new password</label>
                <input type="text" id="email" name="pass" placeholder="new password">
            </div>
            <div class="input-group">
                <label for="text">Confirm your new password</label>
                <input type="text" id="confEmail" name="confPass" placeholder="confirm new password">
            </div>
            <div class="error-message " style="color: red;" id="error-message"></div>
            <button type="submit" class="sendOTP-button">Save Changes</button>
        </form>
        <script>
            const emailForm = document.getElementById('email-form');
            emailForm.addEventListener('submit', (e) => {
                const email = document.getElementById('email').value;
                const confEmail = document.getElementById('confEmail').value;
                if (email.includes(' ') || confEmail.includes(' ')) {
                    document.getElementById('error-message').innerHTML = "Password should not contain any spaces";
                    e.preventDefault();
                } else if (email.length < 6 || confEmail.length < 6) {
                    document.getElementById('error-message').innerHTML = "Password and confirm  Password should be atleast 6 characters";
                    e.preventDefault();
                } else if (email !== confEmail) {
                    document.getElementById('error-message').innerHTML = "Password and confirm Confirm Password should be same";
                    e.preventDefault();
                }
            });
        </script>
    </div>
</body>

</html>